$wrapper: 60rem;

$gutter: 1rem;
$double_gutter: $gutter * 2;
$half_gutter: $gutter / 2;

$columns: (
		1: 8.333%,
		2: 16.666%,
		3: 25%,
		4: 33.333%,
		5: 41.666%,
		6: 50%,
		7: 58.333%,
		8: 66.666%,
		9: 75%,
		10: 83.333%,
		11: 91.666%,
		12: 100%,
);

body {
	margin: 0;
	padding: 0;
	font: normal 1rem/130% "Open Sans", sans-serif;
	cursor: default;
	min-height: 100vh;
	background-color: white;
}

hr {
	border: none;
	border-bottom: 1px solid #ccc;
	margin: 1rem 0;
}

img {
	vertical-align: middle;
}

a {
	cursor: pointer;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h5,
ul,
ol,
p {
	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

@mixin input {
	font-size: 1rem;
	padding: .5rem;
	border: 1px #ccc solid;
	display: block;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}

input[type=text],
input[type=email],
input[type=passwrod]
input[type=date],
select,
textarea {
	@include input;
}

input[type=checkbox],
input[type=radio] {
	display: inline-block;
	margin: 0;
}

select {
	appearance: none;
}

label {
	display: block;
	font-size: .9rem;
	margin-bottom: .1rem;
}

@mixin button {
	display: inline-flex;
	align-items: center;
	padding: $gutter $double_gutter;
	background-color: #ccc;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	white-space: nowrap;
	appearance: none;

	&.small {
		padding: ($gutter * .75) $double_gutter;
	}

	&.tiny {
		padding: $half_gutter $gutter;
	}

	.icon {
		font-size: 1.3em;
		vertical-align: middle;
		display: inline-block;
		margin-right: .5rem;
	}
}

button,
.button {
	@include button;
}

.icon-button {
	@include button;

	justify-content: center;

	.icon {
		margin-right: 0;
	}
}

.wrapper {
	width: $wrapper;
	position: relative;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
}

.layout {
	display: flex;
	align-items: flex-start;

	&.with-gutter {
		margin-left: -$gutter;
		margin-right: -$gutter;
	}

	.column {
		flex: 1;

		@each $column, $size in $columns {
			&-#{$column} {
				flex-basis: $size;
			}
		}
	}
}

.order {
	@each $column, $size in $columns {
		&-#{$column} {
			flex-order: $column;
		}
	}
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.larger {
	font-size: 1.2em;
	line-height: 130%;
}

.smaller {
	font-size: .85em;
	line-height: 130%;
}

.form {
	&-group {
		margin-bottom: 1rem;

		label {
			margin-bottom: $half_gutter;
			display: inline-block;
		}
	}

	&-submit {
		margin-top: 2rem;
	}
}