body {
  margin: 0;
  padding: 0;
  font: normal 1rem/130% "Open Sans", sans-serif;
  cursor: default;
  min-height: 100vh;
  background-color: white; }

hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 1rem 0; }

img {
  vertical-align: middle; }

a {
  cursor: pointer; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h5:first-child,
ul:first-child,
ol:first-child,
p:first-child {
  margin-top: 0; }
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h5:last-child,
ul:last-child,
ol:last-child,
p:last-child {
  margin-bottom: 0; }

input[type=text],
input[type=email],
input[type=passwrod]
input[type=date],
select,
textarea {
  font-size: 1rem;
  padding: .5rem;
  border: 1px #ccc solid;
  display: block;
  width: 100%;
  margin: 0;
  box-sizing: border-box; }

input[type=checkbox],
input[type=radio] {
  display: inline-block;
  margin: 0; }

select {
  appearance: none; }

label {
  display: block;
  font-size: .9rem;
  margin-bottom: .1rem; }

button,
.button {
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ccc;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  appearance: none; }
  button.small,
  .button.small {
    padding: 0.75rem 2rem; }
  button.tiny,
  .button.tiny {
    padding: 0.5rem 1rem; }
  button .icon,
  .button .icon {
    font-size: 1.3em;
    vertical-align: middle;
    display: inline-block;
    margin-right: .5rem; }

.icon-button {
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ccc;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  appearance: none;
  justify-content: center; }
  .icon-button.small {
    padding: 0.75rem 2rem; }
  .icon-button.tiny {
    padding: 0.5rem 1rem; }
  .icon-button .icon {
    font-size: 1.3em;
    vertical-align: middle;
    display: inline-block;
    margin-right: .5rem; }
  .icon-button .icon {
    margin-right: 0; }

.wrapper {
  width: 60rem;
  position: relative;
  display: block;
  margin: 0 auto;
  box-sizing: border-box; }

.layout {
  display: flex;
  align-items: flex-start; }
  .layout.with-gutter {
    margin-left: -1rem;
    margin-right: -1rem; }
  .layout .column {
    flex: 1; }
    .layout .column-1 {
      flex-basis: 8.333%; }
    .layout .column-2 {
      flex-basis: 16.666%; }
    .layout .column-3 {
      flex-basis: 25%; }
    .layout .column-4 {
      flex-basis: 33.333%; }
    .layout .column-5 {
      flex-basis: 41.666%; }
    .layout .column-6 {
      flex-basis: 50%; }
    .layout .column-7 {
      flex-basis: 58.333%; }
    .layout .column-8 {
      flex-basis: 66.666%; }
    .layout .column-9 {
      flex-basis: 75%; }
    .layout .column-10 {
      flex-basis: 83.333%; }
    .layout .column-11 {
      flex-basis: 91.666%; }
    .layout .column-12 {
      flex-basis: 100%; }

.order-1 {
  flex-order: 1; }
.order-2 {
  flex-order: 2; }
.order-3 {
  flex-order: 3; }
.order-4 {
  flex-order: 4; }
.order-5 {
  flex-order: 5; }
.order-6 {
  flex-order: 6; }
.order-7 {
  flex-order: 7; }
.order-8 {
  flex-order: 8; }
.order-9 {
  flex-order: 9; }
.order-10 {
  flex-order: 10; }
.order-11 {
  flex-order: 11; }
.order-12 {
  flex-order: 12; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.larger {
  font-size: 1.2em;
  line-height: 130%; }

.smaller {
  font-size: .85em;
  line-height: 130%; }

.form-group {
  margin-bottom: 1rem; }
  .form-group label {
    margin-bottom: 0.5rem;
    display: inline-block; }
.form-submit {
  margin-top: 2rem; }
